@page
@model JobPortalApplication.Pages.CompanyMember.MemberListingModel
@{
    //ViewData["Title"] = "Hire Me Now";
    if (TempData["UserId"] == null)
    {
        TempData.Keep("UserId");
        Layout = "_UserLayout";
    }
    else
    {
        Layout = "_JobSeekerLayout";
    }
}

<link href="~/publicassets/css/home.css" rel="stylesheet" />
<style>
   /* .jobData {
        /*width: 80%;*/
    }

    .btn-apply {
        width: -webkit-fill-available;
        height: 40px;
    }

    .job-card {
        /*width: 60%;*/
        margin: auto;
        margin-bottom: 13px;
        padding: 10px;
        box-shadow: 3px 4px 17px 0px #504d4d7d;
    }

    /* .job-card :hover {

            box-shadow: 3px 4px 17px 0px #504d4d7d;
        }*/
    .applySection {
        display: flex;
        align-content: center;
        flex-direction: column;
        justify-content: center;
    }

    .logoDiv {
        display: flex;
        align-content: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .jobListDiv {
        justify-content: center;
    }

    progress {
        width: 100%;
        height: 8px;
        background-color: #ddd;
        border: none;
        border-radius: 5px;
        margin-top: 5px;
    }

        progress::-webkit-progress-bar {
            background-color: #ddd;
            border-radius: 5px;
        }

        progress::-webkit-progress-value {
            background-color: #4CAF50;
            border-radius: 5px;
        }

    .JobWrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }

    .tags {
        flex-wrap: wrap
    }

    .progressSpan {
        font-size: small;
    }
</style>
<div class="job-card">

    <h4>Members</h4>
    <div>
       
    </div>
</div>